.story-wrapper {
    margin-top: 10rem;
}
.story-wrapper a{
    color: #5890B1;
}
.story-wrapper h3{
    font-weight: 400;
}
.main-storyimage {
    display: block;
    background-image: url("../img/articles/Festival.jpeg");
    background-size: cover;
    height: 50vh;
    background-position: center;
}

.article-body {
    font-size: 1.5rem;
    padding-top: 1rem;
    padding-bottom: 5rem;
}
.article-desc {
    font-size: 1.5rem;
    padding-top: 1rem 0 1rem 0;
}
