body {
    position: relative;
    overflow-x: hidden;
    font-family: 'Lato', sans-serif;
}

.nav .open>a, .nav .open>a:focus, .nav .open>a:hover {
    background-color: transparent;
}

h1, h2, h3, h4, h5 {
    font-family: 'Eczar', serif;
    font-weight: 600;
}
.container{
  width: 940px;
}
.navbar {
    z-index: 15;
    position: fixed;
    top: 0;
    width: 100%;
    margin-bottom: 0;
    border: 0;
    border-radius: 0;
    background-color: #f4f5f6;
}

.navbar-nav>li>a {
    font-weight: 700;
}

.navbar-inverse .navbar-nav>li>a {
    color: #333333;
}

.navbar-nav>li>a:active {
    background-color: transparent;
}

.navbar-nav>li>a:hover {
    background-color: transparent;
}

.sidebar-nav li a {
    font-weight: 700;
}

.dropdown-menu>li>a {
    font-weight: 600;
}

.desktopNav {
    margin-top: 75px;
    text-align: center;
}

.desktopNav img {
    max-width: 100vw;
    max-height: 75px;
}

.newsletter {}

.newsletter form {
    margin: 20px;
}

.navbar .navbar-nav {
    display: inline-block;
    float: none;
    vertical-align: top;
}

.landing {
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
.landing-logo img{
  max-height: 30rem;
  padding: 2rem;
}

/* ------------------------------- */
/* Wrappers */
/* ------------------------------- */

#wrapper {
    padding-left: 0;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    -webkit-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

#wrapper.toggled {
    padding-left: 270px;
}

#sidebar-wrapper {
    z-index: 1000;
    left: 270px;
    width: 0;
    height: 100%;
    margin-left: -270px;
    overflow-x: hidden;
    overflow-y: auto;
    background-color: #f4f5f6;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    -webkit-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

#sidebar-wrapper::-webkit-scrollbar {
    display: none;
}

#wrapper.toggled #sidebar-wrapper {
    width: 270px;
}

#page-content-wrapper {
    width: 100%;
}

#wrapper.toggled #page-content-wrapper {
    position: absolute;
    margin-right: -270px;
}


/* ------------------------------- */


/* Sidebar nav styles */


/* ------------------------------- */

.sidebar-nav {
    position: absolute;
    top: 0;
    width: 270px;
    margin: 0;
    padding: 0;
    list-style: none;
}

.sidebar-nav li {
    display: inline-block;
    position: relative;
    width: 100%;
    font-weight: 700;
    line-height: 20px;
}

.sidebar-nav li:before {
    z-index: -1;
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 3px;
    height: 100%;
    background-color: #1c1c1c;
    -moz-transition: width .2s ease-in;
    -ms-transition: width .2s ease-in;
    -webkit-transition: width .2s ease-in;
    transition: width .2s ease-in;
}

.sidebar-nav li a {
    display: block;
    padding: 10px 15px 10px 30px;
    color: #333333;
    text-decoration: none;
}

.sidebar-nav .dropdown ul {
    padding-left: 20px;
}

.sidebar-nav li.open a:active, .sidebar-nav li.open a:focus, .sidebar-nav li.open a:hover, .sidebar-nav li a:active, .sidebar-nav li a:focus, .sidebar-nav li a:hover {
    color: #fff;
    background-color: transparent;
    text-decoration: none;
}

.sidebar-nav>.sidebar-brand {
    height: 65px;
    font-size: 20px;
    line-height: 44px;
}

.sidebar-nav>.sidebar-brand img {
    max-height: 50px;
}

.sidebar-nav .dropdown-menu {
    position: relative;
    width: 100%;
    margin: 0;
    padding: 0;
    border: none;
    border-radius: 0;
    background-color: #f4f5f6;
    box-shadow: none;
}


/* ------------------------------- */


/* Hamburger-Cross + logo */


/* ------------------------------- */

.socials {}

.nav-social {}

.logo {
    z-index: 999;
    display: block;
    position: fixed;
    width: 250px;
    margin-left: 50px;
    border: none;
    background: transparent;
}

.logo img {
    max-height: 50px;
    padding: 10px;
}

.hamburger {
    z-index: 999;
    display: block;
    position: fixed;
    top: 10px;
    width: 32px;
    height: 30px;
    margin-left: 15px;
    border: none;
    background: transparent;
}

.hamburger:active, .hamburger:focus, .hamburger:hover {
    outline: none;
}

.hamburger.is-closed:before {
    content: '';
    display: block;
    width: 100px;
    color: #fff;
    opacity: 0;
    text-align: center;
    font-size: 14px;
    line-height: 32px;
    -webkit-transform: translate3d(0, 0, 0);
    -webkit-transition: all .35s ease-in-out;
}

.hamburger.is-closed:hover:before {
    display: block;
    opacity: 1;
    -webkit-transform: translate3d(-100px, 0, 0);
    -webkit-transition: all .35s ease-in-out;
}

.hamburger.is-closed .hamb-bottom, .hamburger.is-closed .hamb-middle, .hamburger.is-closed .hamb-top, .hamburger.is-open .hamb-bottom, .hamburger.is-open .hamb-middle, .hamburger.is-open .hamb-top {
    position: absolute;
    left: 0;
    width: 100%;
    height: 4px;
}

.hamburger.is-closed .hamb-bottom, .hamburger.is-closed .hamb-middle, .hamburger.is-closed .hamb-top {
    background-color: #333333;
}

.hamburger.is-closed .hamb-top {
    top: 5px;
    -webkit-transition: all .35s ease-in-out;
}

.hamburger.is-closed .hamb-middle {
    top: 50%;
    margin-top: -2px;
}

.hamburger.is-closed .hamb-bottom {
    bottom: 5px;
    -webkit-transition: all .35s ease-in-out;
}

.hamburger.is-closed:hover .hamb-top {
    top: 0;
    -webkit-transition: all .35s ease-in-out;
}

.hamburger.is-closed:hover .hamb-bottom {
    bottom: 0;
    -webkit-transition: all .35s ease-in-out;
}

.hamburger.is-open .hamb-bottom, .hamburger.is-open .hamb-middle, .hamburger.is-open .hamb-top {
    background-color: #333333;
}

.hamburger.is-open .hamb-bottom, .hamburger.is-open .hamb-top {
    top: 50%;
    margin-top: -2px;
}

.hamburger.is-open .hamb-top {
    -webkit-transform: rotate(45deg);
    -webkit-transition: -webkit-transform .2s cubic-bezier(.73, 1, .28, .08);
}

.hamburger.is-open .hamb-middle {
    display: none;
}

.hamburger.is-open .hamb-bottom {
    -webkit-transform: rotate(-45deg);
    -webkit-transition: -webkit-transform .2s cubic-bezier(.73, 1, .28, .08);
}

.hamburger.is-open:before {
    content: '';
    display: block;
    width: 100px;
    color: #fff;
    opacity: 0;
    text-align: center;
    font-size: 14px;
    line-height: 32px;
    -webkit-transform: translate3d(0, 0, 0);
    -webkit-transition: all .35s ease-in-out;
}

.hamburger.is-open:hover:before {
    display: block;
    opacity: 1;
    -webkit-transform: translate3d(-100px, 0, 0);
    -webkit-transition: all .35s ease-in-out;
}


/* ------------------------------- */


/* Overlay */


/* ------------------------------- */

.overlay {
    z-index: 1;
    display: none;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(250, 250, 250, .8);
}


/* ****************** */


/* recent articles */


/* ****************** */

.recent {
    background-color: #f4f5f6;
}

.recent>div {
    padding-top: 5rem;
    padding-bottom: 5rem;
}

.items>article:hover {
    -webkit-filter: brightness(80%);
    /* Safari */
    filter: brightness(80%);
}

.topic {
    padding-bottom: 5px;
    font-weight: 700;
    text-transform: uppercase;
}

.topic a {
    font-size: 1.3rem;
    color: #333333;
    text-decoration: none;
}

.topic a:hover {
    color: #73B184;
}

.topic span {
    font-size: 1.3rem;
}

.item-title {
    font-size: 2.5rem;
}

.item-title a {
    color: #333333;
    text-decoration: none;
}

.item-title a:hover {
    color: #73B184;
}

.item-desc {}

.item-desc a {
    font-size: 1.5rem;
    color: #333333;
    text-decoration: none;
}

.item-desc a:hover {
    color: #73B184;
}

.item-cta {
    font-size: 1.2rem;
    font-weight: 700;
}

.item-cta a {
    color: #73B184;
    text-decoration: none;
}


/* ****************** */


/* Grid */


/* ****************** */

/* ****************** */


/* Media Queries */


/* ****************** */

@media screen and (min-width: 980px) {}

@media screen and (max-width: 980px) {
    .newsletter, .newsletter h2 {
        text-align: center;
    }
}

@media screen and (max-width: 640px) {
    .newsletter h2 {
        text-align: center;
        font-size: 1.8rem;
    }
    .newsletter form {
        margin: 0;
    }
    .newsletter button {
        width: 100%;
    }
    .landing {
        min-height: 60vh;
    }
    .landingInfo p {
        font-size: 1rem;
    }
    .landingInfo h2 {
        font-size: 2.5rem;
    }
    .logo img {
        max-height: 50px;
    }
}
