body {
    position: relative;
    overflow-x: hidden;
    font-family: 'Roboto', sans-serif;
}

body,
html {
    font-size: 10px;
}

.nav .open>a,
.nav .open>a:focus,
.nav .open>a:hover {
    background-color: transparent;
}

h1,
h2,
h3,
h4,
h5 {
    margin-top: 0;
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
}

.page-title {
    padding: 1rem 0 4rem 0;
    font-family: 'Roboto', sans-serif;
}

p {
    font-weight: 400;
}

.navbar {
    z-index: 15;
    position: fixed;
    top: 0;
    width: 100%;
    margin-bottom: 0;
    border: 0;
    border-radius: 0;
    background-color: #ffffff;
}

.navbar-inverse .navbar-nav>li>a {
    color: #333333;
}

.navbar-nav>li>a:active {
    background-color: transparent;
}

.navbar-nav>li>a:hover {
    background-color: transparent;
}

.sidebar-nav li a {
    text-align: center;
    color: #333333;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
}

.sidebar-nav li a:hover {
    color: #5890B1;
}

.desktopNav {
    margin-top: 75px;
    text-align: center;
}

.desktopNav img {
    max-width: 100vw;
    max-height: 75px;
}

.navbar .navbar-nav {
    display: inline-block;
    float: none;
    vertical-align: top;
}


/* ------------------------------- */


/* Wrappers */


/* ------------------------------- */

#wrapper {
    padding-left: 0;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    -webkit-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

#wrapper.toggled {
    padding-left: 270px;
}

#sidebar-wrapper {
    z-index: 1000;
    left: 270px;
    width: 0;
    height: 100%;
    margin-left: -270px;
    overflow-x: hidden;
    overflow-y: auto;
    background-color: transparent;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    -webkit-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

#sidebar-wrapper::-webkit-scrollbar {
    display: none;
}

#wrapper.toggled #sidebar-wrapper {
    width: 270px;
}

#page-content-wrapper {
    width: 100%;
}

#wrapper.toggled #page-content-wrapper {
    position: absolute;
    margin-right: -270px;
}


/* ------------------------------- */


/* Sidebar nav styles */


/* ------------------------------- */

.sidebar-nav {
    position: absolute;
    top: 0;
    width: 270px;
    margin: 0;
    padding: 0;
    list-style: none;
}

.sidebar-nav input {
    border-radius: 0;
}

.sidebar-nav li {
    display: inline-block;
    position: relative;
    width: 100%;
    line-height: 20px;
}

.sidebar-nav li:before {
    z-index: -1;
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 3px;
    height: 100%;
    -moz-transition: width .2s ease-in;
    -ms-transition: width .2s ease-in;
    -webkit-transition: width .2s ease-in;
    transition: width .2s ease-in;
}

.sidebar-nav li a {
    display: block;
    padding: 1.5rem;
    text-decoration: none;
    font-size: 1.5rem;
}

.sidebar-nav .dropdown ul {}

.sidebar-nav .dropdown ul li {
    background-color: #ffffff;
}

.sidebar-nav .dropdown ul li a {
    font-size: 1.4rem;
}

.sidebar-nav .dropdown ul li a:hover {
    color: #5890B1;
}

.sidebar-nav li.open a:active,
.sidebar-nav li.open a:focus,
.sidebar-nav li.open a:hover,
.sidebar-nav li a:active,
.sidebar-nav li a:focus,
.sidebar-nav li a:hover {
    background-color: transparent;
    text-decoration: none;
}

.sidebar-nav>.sidebar-brand {
    height: 65px;
    font-size: 20px;
    line-height: 44px;
}

.sidebar-nav>.sidebar-brand a {
    padding: 1rem;
}

.sidebar-nav>.sidebar-brand img {
    max-height: 50px;
}

.sidebar-nav .dropdown-menu {
    position: relative;
    width: 100%;
    margin: 0;
    padding: 0;
    border: none;
    border-radius: 0;
    box-shadow: none;
}

.navbar-form {
    margin: 1rem;
}

.navbar-inverse .navbar-nav>.open>a,
.navbar-inverse .navbar-nav>.open>a:hover,
.navbar-inverse .navbar-nav>.open>a:focus {
    background-color: transparent;
}

.dropdown-menu>li>a {
    color: #333333;
}

.dropdown-menu>li>a:hover {
    color: #5890B1;
}


/* ------------------------------- */


/* Hamburger-Cross + logo */


/* ------------------------------- */

.socials a {
    padding-top: 2rem;
}

.socials span {
    position: absolute;
    bottom: 0;
    top: auto;
}

.socials img {
    max-width: 100%;
    max-height: 1.5rem;
}

.nav-social img {
    max-height: 1.5rem;
}

.nav-social .dropdown-menu img {
    max-height: 1rem;
}

.nav-social .dropdown-menu a {
    color: #333333;
}

.nav-social .dropdown-menu a:hover {
    color: #5890B1;
}

.logo {
    z-index: 999;
    display: block;
    position: fixed;
    width: 250px;
    margin-left: 50px;
    border: none;
    background: transparent;
}

.logo img {
    max-height: 50px;
    padding: 10px;
}

.hamburger {
    z-index: 999;
    display: block;
    position: fixed;
    top: 10px;
    width: 32px;
    height: 30px;
    margin-left: 15px;
    border: none;
    background: transparent;
}

.hamburger:active,
.hamburger:focus,
.hamburger:hover {
    outline: none;
}

.hamburger.is-closed:before {
    content: '';
    display: block;
    width: 100px;
    color: #fff;
    opacity: 0;
    text-align: center;
    font-size: 14px;
    line-height: 32px;
    -webkit-transform: translate3d(0, 0, 0);
    -webkit-transition: all .35s ease-in-out;
}

.hamburger.is-closed:hover:before {
    display: block;
    opacity: 1;
    -webkit-transform: translate3d(-100px, 0, 0);
    -webkit-transition: all .35s ease-in-out;
}

.hamburger.is-closed .hamb-bottom,
.hamburger.is-closed .hamb-middle,
.hamburger.is-closed .hamb-top,
.hamburger.is-open .hamb-bottom,
.hamburger.is-open .hamb-middle,
.hamburger.is-open .hamb-top {
    position: absolute;
    left: 0;
    width: 100%;
    height: 4px;
}

.hamburger.is-closed .hamb-bottom,
.hamburger.is-closed .hamb-middle,
.hamburger.is-closed .hamb-top {
    background-color: #333333;
}

.hamburger.is-closed .hamb-top {
    top: 5px;
    -webkit-transition: all .35s ease-in-out;
}

.hamburger.is-closed .hamb-middle {
    top: 50%;
    margin-top: -2px;
}

.hamburger.is-closed .hamb-bottom {
    bottom: 5px;
    -webkit-transition: all .35s ease-in-out;
}

.hamburger.is-closed:hover .hamb-top {
    top: 0;
    -webkit-transition: all .35s ease-in-out;
}

.hamburger.is-closed:hover .hamb-bottom {
    bottom: 0;
    -webkit-transition: all .35s ease-in-out;
}

.hamburger.is-open .hamb-bottom,
.hamburger.is-open .hamb-middle,
.hamburger.is-open .hamb-top {
    background-color: #333333;
}

.hamburger.is-open .hamb-bottom,
.hamburger.is-open .hamb-top {
    top: 50%;
    margin-top: -2px;
}

.hamburger.is-open .hamb-top {
    -webkit-transform: rotate(45deg);
    -webkit-transition: -webkit-transform .2s cubic-bezier(.73, 1, .28, .08);
}

.hamburger.is-open .hamb-middle {
    display: none;
}

.hamburger.is-open .hamb-bottom {
    -webkit-transform: rotate(-45deg);
    -webkit-transition: -webkit-transform .2s cubic-bezier(.73, 1, .28, .08);
}

.hamburger.is-open:before {
    content: '';
    display: block;
    width: 100px;
    color: #fff;
    opacity: 0;
    text-align: center;
    font-size: 14px;
    line-height: 32px;
    -webkit-transform: translate3d(0, 0, 0);
    -webkit-transition: all .35s ease-in-out;
}

.hamburger.is-open:hover:before {
    display: block;
    opacity: 1;
    -webkit-transform: translate3d(-100px, 0, 0);
    -webkit-transition: all .35s ease-in-out;
}


/* ------------------------------- */


/* Overlay */


/* ------------------------------- */

.overlay {
    z-index: 1;
    display: none;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(250, 250, 250, .8);
}


/* ****************** */


/* landing area */


/* ****************** */

.landing {
    padding: 7rem 0 0 0;
}

.landing a {
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    padding: 0;
}

.landing-1-o {
    height: 60vh;
    background: -moz-linear-gradient(top, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.65) 100%);
    /* FF3.6-15 */
    background: -webkit-linear-gradient(top, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.65) 100%);
    /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.65) 100%);
    /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid: DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#a6000000', GradientType=0);
    /* IE6-9 */
    -webkit-box-shadow: 0px 2px 3px 1px rgba(117, 117, 117, 1);
    -moz-box-shadow: 0px 2px 3px 1px rgba(117, 117, 117, 1);
    box-shadow: 0px 2px 3px 1px rgba(117, 117, 117, 1);
}

.landing-1-o {
    width: 100%;
}

.landing-2-o {
    height: 60vh;
}

.landing-desc-p {
    color: #ffffff;
    position: absolute;
    padding: 0 2rem 0 2rem;
    bottom: 2rem;
}

.landing-newsletter {
    padding-top: 3rem;
    height: 100%;
    color: #333333;
}

.landing-newsletter input {
    padding: 1rem;
    color: #333333;
    font-size: 1.5rem;
    margin-bottom: 1rem;
    border-radius: 0;
}

.landing-newsletter button {
    width: 100%;
}

.btn-danger {
    background-color: #FE8B8E;
    border: #FE8B8E;
}

.btn-danger:hover {
    background-color: #B14F52;
}

.landing-desc-p h2 {
    font-size: 4rem;
}

.landing-desc-p h3 {
    font-size: 2rem;
}

.landing-desc-p h4 {
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    text-transform: uppercase;
    font-size: 1.5rem;
}

.landing-desc-p h5 {
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    text-transform: uppercase;
    font-size: 1.2rem;
}

.landing-desc-p h3:Hover {
    color: #FE8B8E;
}

.landing-desc-p h2:Hover {
    color: #FE8B8E;
}

.landing-desc-p h4:Hover {
    color: #FE8B8E;
}

.landing-desc-p h5:Hover {
    color: #FE8B8E;
}


/*recent*/

.recent {
    padding: 5rem 0 0 0;
}

.recent img {
    width: 100%;
    -webkit-box-shadow: 0px 2px 3px 1px rgba(117, 117, 117, 1);
    -moz-box-shadow: 0px 2px 3px 1px rgba(117, 117, 117, 1);
    box-shadow: 0px 2px 3px 1px rgba(117, 117, 117, 1);
    transition: 0.2s;
}

.recent img:hover {
    -moz-transform: scale(1.01);
    -webkit-transform: scale(1.01);
    transform: scale(1.01);
}

.recent article {
    min-height: 50rem;
}

.topic {
    padding-bottom: 5px;
    font-weight: 500;
    text-transform: uppercase;
}

.topic a {
    font-size: 1.2rem;
    color: #333333;
    text-decoration: none;
}

.topic a:hover {
    color: #5890B1;
}

.item-title {
    font-size: 2.3rem;
}

.item-title a {
    color: #333333;
    text-decoration: none;
    text-transform: capitalize;
}

.item-title a:hover {
    color: #5890B1;
}

.item-desc {}

.item-desc a {
    font-size: 1.2rem;
    color: #333333;
    text-decoration: none;
}

.item-desc a:hover {
    color: #5890B1;
}

.item-cta {
    font-size: 1.2rem;
    font-weight: 500;
}

.item-cta a {
    color: #5890B1;
    text-decoration: none;
    font-weight: 500;
}

.item-text {
    padding: 2rem 0 2rem 0;
}


/* ****************** */


/* featured articles */


/* ****************** */

.featured {
    padding: 0 0 5rem 0;
}

.featured .row {
    -webkit-box-shadow: 0px 2px 3px 1px rgba(117, 117, 117, 1);
    -moz-box-shadow: 0px 2px 3px 1px rgba(117, 117, 117, 1);
    box-shadow: 0px 2px 3px 1px rgba(117, 117, 117, 1);
}

.featured-article {
    height: 30rem;
}

.featured-article a {
    height: 100%;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    padding: 0;
}

.featured-article-desc {
    width: 100%;
    background-color: rgba(0, 0, 0, 0.6);
    position: absolute;
    bottom: 0;
    padding: 2rem;
    color: #ffffff;
    transition: 1.5s ease;
}

.featured-article-desc h3 {
    font-size: 2.3rem;
}

.featured-article-desc p {
    font-size: 1.2rem;
    display: none;
}

.featured-article-desc .rabtn i {
    font-size: 1rem;
}

.showP {
    background-color: #FE8B8E;
}

.btn {
    border-radius: 0;
}

.footer .btn-primary {}

.instafeed {
    text-align: center;
}

.instafeed .insta-header img {
    max-width: 50%;
    padding: 2rem;
}

.instafeed .insta-item {
    width: 49%;
    display: inline-block;
}

.footer {
    padding: 5rem 0 5rem 0;
    background-color: #636363;
    color: #ffffff;
}

.footer img {
    max-width: 100%;
}

.footer .ig img {
    position: absolute;
    max-width: 5rem;
    margin-left: -5rem;
    margin-top: 2.5rem;
}

.newsletter h2 {
    font-size: 2rem;
    margin-bottom: 1rem;
}

.newsletter-form input {
    padding: 1rem;
    color: #333333;
    font-size: 1.5rem;
    margin-bottom: 1rem;
    border-radius: 0;
    border-radius: 0;
}

.newsletter-form button {
    width: 100%;
}

.breadcrumb {
    border-radius: 0;
    background-color: transparent;
    font-size: 1.2rem;
}

.story-wrapper {
    margin-top: 10rem;
}

.story-wrapper a {
    color: #5890B1;
}

.story-wrapper h1 {
    font-size: 6rem;
}

.story-wrapper h3 {
    font-weight: 400;
}

.story-wrapper h4 {
    font-weight: 400;
}

.main-storyimage {
    display: block;
    background-image: url("../img/articles/Festival.jpeg");
    background-size: cover;
    height: 50vh;
    background-position: center;
    -webkit-box-shadow: 0px 2px 3px 1px rgba(117, 117, 117, 1);
    -moz-box-shadow: 0px 2px 3px 1px rgba(117, 117, 117, 1);
    box-shadow: 0px 2px 3px 1px rgba(117, 117, 117, 1);
}

.article-body {
    font-size: 1.5rem;
    padding-top: 1rem;
    padding-bottom: 5rem;
}

.article-desc {
    font-size: 1.5rem;
    padding: 1rem 0 1rem 0;
}

.article-category {
    font-weight: 400;
    font-family: 'Roboto', sans-serif;
    font-size: 1.5rem;
}

#instafeed img {
    max-width: 75px;
}

.footer-items div {
    margin-bottom: 2rem;
    height: 45rem;
}

.footer-items .instaIcon {
    max-width: 5rem;
    margin-bottom: 1rem;
}

.footer-items p {
    font-size: 1.5rem;
}

.footer-items a {
    color: #5890B1;
}


/* ****************** */


/* Media Queries */


/* ****************** */

@media screen and (min-width: 980px) {
    .landing-desc {
        height: 70vh;
    }
}

@media screen and (max-width: 980px) {}

@media screen and (max-width: 640px) {
    .featured-article {
        height: 40rem;
    }
    .featured-article-desc {
        background-color: #FE8B8E;
    }
    .featured-article-desc h3 {
        font-size: 2rem;
    }
    .featured-article-desc p {
        display: block;
    }
    .landing-desc-p h2 {
        font-size: 2rem;
    }
    .landing-desc-p h3 {
        font-size: 1.8rem;
    }
    .logo img {
        max-width: 70vw;
    }
    .page-title {
        font-size: 2.5rem;
        padding: 2rem 0 0 0;
    }
    .recent article {
        min-height: 50rem;
    }
}