body {
    position: relative;
    overflow-x: hidden;
    font-family: 'Montserrat', sans-serif;
}
body, html{
  font-size: 10px;
}

.nav .open>a, .nav .open>a:focus, .nav .open>a:hover {
    background-color: transparent;
}

h1, h2, h3, h4, h5 {
  margin-top: 0;
  font-family: 'Proza Libre', sans-serif;
  font-weight: 600;
}

.navbar {
    z-index: 15;
    position: fixed;
    top: 0;
    width: 100%;
    margin-bottom: 0;
    border: 0;
    border-radius: 0;
    background-color: transparent;
}

.navbar-inverse .navbar-nav>li>a {
    color: #333333;
}

.navbar-nav>li>a:active {
    background-color: transparent;
}

.navbar-nav>li>a:hover {
    background-color: transparent;
}

.sidebar-nav li a {
    text-align: center;
    color: #333333;
}

.dropdown-menu>li>a {
    color: #ffffff;
}
.dropdown-menu>li>a:hover {
    color: #ececec;
}

.desktopNav {
    margin-top: 75px;
    text-align: center;
}

.desktopNav img {
    max-width: 100vw;
    max-height: 75px;
}

.navbar .navbar-nav {
    display: inline-block;
    float: none;
    vertical-align: top;
}

/* ------------------------------- */


/* Wrappers */


/* ------------------------------- */

#wrapper {
    padding-left: 0;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    -webkit-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

#wrapper.toggled {
    padding-left: 270px;
}

#sidebar-wrapper {
    z-index: 1000;
    left: 270px;
    width: 0;
    height: 100%;
    margin-left: -270px;
    overflow-x: hidden;
    overflow-y: auto;
    background-color: transparent;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    -webkit-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

#sidebar-wrapper::-webkit-scrollbar {
    display: none;
}

#wrapper.toggled #sidebar-wrapper {
    width: 270px;
}

#page-content-wrapper {
    width: 100%;
}

#wrapper.toggled #page-content-wrapper {
    position: absolute;
    margin-right: -270px;
}


/* ------------------------------- */


/* Sidebar nav styles */


/* ------------------------------- */

.sidebar-nav {
    position: absolute;
    top: 0;
    width: 270px;
    margin: 0;
    padding: 0;
    list-style: none;
}

.sidebar-nav li {
    display: inline-block;
    position: relative;
    width: 100%;
    line-height: 20px;
}

.sidebar-nav li:before {
    z-index: -1;
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 3px;
    height: 100%;
    -moz-transition: width .2s ease-in;
    -ms-transition: width .2s ease-in;
    -webkit-transition: width .2s ease-in;
    transition: width .2s ease-in;
}

.sidebar-nav li a {
    display: block;
    padding: 1.5rem;
    text-decoration: none;
}

.sidebar-nav .dropdown ul {
    padding: 0 2rem 0 2rem;
}

.sidebar-nav .dropdown ul li {
    background-color: #333333;
}

.sidebar-nav li.open a:active, .sidebar-nav li.open a:focus, .sidebar-nav li.open a:hover, .sidebar-nav li a:active, .sidebar-nav li a:focus, .sidebar-nav li a:hover {
    background-color: transparent;
    text-decoration: none;
}

.sidebar-nav>.sidebar-brand {
    height: 65px;
    font-size: 20px;
    line-height: 44px;
}

.sidebar-nav>.sidebar-brand a {
    padding: 1rem;
}

.sidebar-nav>.sidebar-brand img {
    max-height: 50px;
}

.sidebar-nav .dropdown-menu {
    position: relative;
    width: 100%;
    margin: 0;
    padding: 0;
    border: none;
    border-radius: 0;
    box-shadow: none;
}
.navbar-form{
  margin: 1rem;
}

/* ------------------------------- */


/* Hamburger-Cross + logo */


/* ------------------------------- */

.socials {
    padding: 2rem;
}

.nav-social {}

.logo {
    z-index: 999;
    display: block;
    position: fixed;
    width: 250px;
    margin-left: 50px;
    border: none;
    background: transparent;
}

.logo img {
    max-height: 50px;
    padding: 10px;
}

.hamburger {
    z-index: 999;
    display: block;
    position: fixed;
    top: 10px;
    width: 32px;
    height: 30px;
    margin-left: 15px;
    border: none;
    background: transparent;
}

.hamburger:active, .hamburger:focus, .hamburger:hover {
    outline: none;
}

.hamburger.is-closed:before {
    content: '';
    display: block;
    width: 100px;
    color: #fff;
    opacity: 0;
    text-align: center;
    font-size: 14px;
    line-height: 32px;
    -webkit-transform: translate3d(0, 0, 0);
    -webkit-transition: all .35s ease-in-out;
}

.hamburger.is-closed:hover:before {
    display: block;
    opacity: 1;
    -webkit-transform: translate3d(-100px, 0, 0);
    -webkit-transition: all .35s ease-in-out;
}

.hamburger.is-closed .hamb-bottom, .hamburger.is-closed .hamb-middle, .hamburger.is-closed .hamb-top, .hamburger.is-open .hamb-bottom, .hamburger.is-open .hamb-middle, .hamburger.is-open .hamb-top {
    position: absolute;
    left: 0;
    width: 100%;
    height: 4px;
}

.hamburger.is-closed .hamb-bottom, .hamburger.is-closed .hamb-middle, .hamburger.is-closed .hamb-top {
    background-color: #333333;
}

.hamburger.is-closed .hamb-top {
    top: 5px;
    -webkit-transition: all .35s ease-in-out;
}

.hamburger.is-closed .hamb-middle {
    top: 50%;
    margin-top: -2px;
}

.hamburger.is-closed .hamb-bottom {
    bottom: 5px;
    -webkit-transition: all .35s ease-in-out;
}

.hamburger.is-closed:hover .hamb-top {
    top: 0;
    -webkit-transition: all .35s ease-in-out;
}

.hamburger.is-closed:hover .hamb-bottom {
    bottom: 0;
    -webkit-transition: all .35s ease-in-out;
}

.hamburger.is-open .hamb-bottom, .hamburger.is-open .hamb-middle, .hamburger.is-open .hamb-top {
    background-color: #333333;
}

.hamburger.is-open .hamb-bottom, .hamburger.is-open .hamb-top {
    top: 50%;
    margin-top: -2px;
}

.hamburger.is-open .hamb-top {
    -webkit-transform: rotate(45deg);
    -webkit-transition: -webkit-transform .2s cubic-bezier(.73, 1, .28, .08);
}

.hamburger.is-open .hamb-middle {
    display: none;
}

.hamburger.is-open .hamb-bottom {
    -webkit-transform: rotate(-45deg);
    -webkit-transition: -webkit-transform .2s cubic-bezier(.73, 1, .28, .08);
}

.hamburger.is-open:before {
    content: '';
    display: block;
    width: 100px;
    color: #fff;
    opacity: 0;
    text-align: center;
    font-size: 14px;
    line-height: 32px;
    -webkit-transform: translate3d(0, 0, 0);
    -webkit-transition: all .35s ease-in-out;
}

.hamburger.is-open:hover:before {
    display: block;
    opacity: 1;
    -webkit-transform: translate3d(-100px, 0, 0);
    -webkit-transition: all .35s ease-in-out;
}


/* ------------------------------- */


/* Overlay */


/* ------------------------------- */

.overlay {

    z-index: 1;
    display: none;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(250, 250, 250, .8);
}
/* ****************** */


/* landing area */


/* ****************** */
.landing{
  padding: 10rem 0 5rem 0;
}
.landing .media-object a{
  height: 400px;
}

/* ****************** */


/* recent articles */


/* ****************** */

.recent{
  padding: 5rem 0 5rem 0;
}
.recent-article{
  height: 35rem;
}
.recent-article a{
  height: 100%;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  padding: 0;
}
.recent-article-desc{
  width: 100%;
  background-color: rgba(51, 51, 51, 0.4);
  position: absolute;
  bottom: 0;
  padding: 2rem;
  color: #ffffff;
  transition: 1.5s ease;
}
.recent-article-desc .rabtn i{
  font-size: 1rem;
}
.recent-article-desc p{
  display: none;
}
.showP{
  background-color: #FE8B8E;
}

.items>article:hover {
    -webkit-filter: brightness(80%);
    /* Safari */
    filter: brightness(80%);
}

.topic {
    padding-bottom: 5px;
    font-weight: 700;
    text-transform: uppercase;
}

.topic a {
    font-size: 1.3rem;
    color: #333333;
    text-decoration: none;
}

.topic a:hover {
    color: #73B184;
}

.topic span {
    font-size: 1.3rem;
}

.item-title {
    font-size: 2.5rem;
}

.item-title a {
    color: #333333;
    text-decoration: none;
}

.item-title a:hover {
    color: #FE8B8E;
}

.item-desc {}

.item-desc a {
    font-size: 1.5rem;
    color: #333333;
    text-decoration: none;
}

.item-desc a:hover {
    color: #FE8B8E;
}

.item-cta {
    font-size: 1.2rem;
    font-weight: 700;
}

.item-cta a {
    color: #FE8B8E;
    text-decoration: none;
}


/* ****************** */


/* Grid */


/* ****************** */


/* ****************** */


/* Media Queries */


/* ****************** */

@media screen and (min-width: 980px) {}

@media screen and (max-width: 980px) {

}

@media screen and (max-width: 640px) {

}
